<!DOCTYPE html>
<html lang="en-US">
<body>

<h1>My Web Page</h1>

<div id="piechart"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawChart);
var profits = [8, 6, 1, 7];
// Draw the chart and set the chart values
function drawChart() {
  var data = new google.visualization.DataTable();
  data.addColumn('number', 'Week');
  data.addColumn('number', 'Profit');
  var i;
  data.addRow([0,0]);
  for(i = 1; i < 5; i++){
  	data.addRow([i, profits[i-1]]);
  }

  // Optional; add a title and set the width and height of the chart
  //var options = {'title':'My Average Day', 'width':550, 'height':400};
  
  var options = {'title': 'Weekly Profit this Month', 'width':550, 'height':300,
  	hAxis: {
    	title: 'Week'
    },
    vAxis: {
    	title: 'Amount'
    },
    colors: ['#a52714'],
    };

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.LineChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
</script>

</body>
</html>
